.entete__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.site__titre{
    font-size: clamp(1rem,0.3864rem + 2.4545vw, 4.375rem);
    color: pink;
    a{
        text-decoration: none;

    }
}

/*//////////////////////////MENU_ENTETE////////*/
.menu__entete{ //nav
    .menu{ //ul
        display: flex;
        list-style-type: none;
        justify-content: flex-start;
        align-items: center;
        background-color: palevioletred;
        margin: 0;
        padding: 20px;
        height: 10vh;
        
        flex-direction: row-reverse;

            .menu-item{//li
            a{
                padding: 3px 5px;
                text-decoration: none;
                color: black;
                margin: 0 10px;
                font-size: 2rem;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                height: 100vh;

            }
            a:hover{
                background-color: white;
                padding: 20px;
                border-radius: 20px;
                color: palevioletred;
                margin: 0 5px;
            }

        }.menu-item::before{
            content: "";
            background: transparent;
            border-radius: 0;
            padding-inline: 0;
            margin-block-end: 0;
        }

    }
}