.recherche{
    .recherche__input, .recherche__bouton{
    background-color: transparent;
    padding: .7rem;
    border: 2px solid white;
    .recherche__input{
        margin: 0 10px;
        cursor:text;
    }
}}