.recherche{
    margin-right: 3rem;
    display: flex;
    .recherche__input, .recherche__bouton{
    background-color: transparent;
    padding: .5rem;
    border: 2px solid white;
    color: white;
    }
    .recherche__input:hover, .recherche__bouton:hover{
        filter: brightness(3);
        border-color: #1E262F;
        }
    .recherche__input{
            width: 15rem;
            cursor:text;
        }
}

